<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cecsmsserve.mapper.UserMapper">

    <select id="getUsersSum" resultType="map">
        select count(*) as usersSum
        from user
        where roleId=4
    </select>
</mapper>
